
   <div class="col-3"> <ul>
    <li><a routerLink="dashboard" ><img id=logo src="assets/AdminLogo.svg" alt="" ></a></li> 
       <li><a routerLink="dashboard" (click)="onStoryboardClick()"><img src="assets/dashboard.svg" alt="" height="22.5px" width="22.5px" alt=""><h2>Storyboard</h2></a></li>
       <li><a routerLink="controlcenter" (click)="onStoryboardClick()"><img src="assets/controlcenter.svg" alt="" height="22.5px" width="22.5px"><h2>Control Center</h2></a></li>
        <li><a routerLink="corporates"><img src="assets/corpoaratee.svg" alt="" height="22.5px" width="22.5px"><h2>Corporates</h2></a></li>
        <li><a routerLink="cdaccount"><img src="assets/CDBalance.svg" alt="" height="22.5px" width="22.5px"><h2>CD Account</h2></a></li>
        <li><a routerLink="policy"><img src="assets/policy.svg" alt="" height="22.5px" width="22.5px"><h2>Policy</h2></a></li>
        <li><a routerLink="corporateemployee"><img src="assets/CorporateEmployee.svg" alt="" height="22.5px" width="22.5px"><h2>Corporate Employee</h2></a></li>
        <li><a routerLink="endorsement"><img src="assets/Endorsement (2).svg" alt="" height="22.5px" width="22.5px"><h2>Endorsement</h2></a></li>
        <li><a routerLink="claim"><img src="assets/claims.svg" alt="" height="22.5px" width="22.5px"><h2>Claims</h2></a></li>
        <li><a routerLink="networkhospital"><img src="assets/networkhospital.svg" alt="" height="22.5px" width="22.5px"><h2>Network Hospitals</h2></a></li>
        <li><a routerLink="reports"><img src="assets/report.svg" alt="" height="22.5px" width="22.5px"><h2>Reports</h2></a></li>
        <li><a routerLink="feedback"><img src="assets/feedback.svg" alt="" height="22.5px" width="22.5px"><h2>Feedback</h2></a> </li>
        <li><a routerLink="upload"><img src="assets/upload.svg" alt="" height="22.5px" width="22.5px"><h2>Upload</h2></a> </li>
        <li><a routerLink="logout"><img src="assets/logout.svg" alt="" height="22.5px" width="22.5px"><h2>Logout</h2></a> </li>
    </ul>
</div>
