<div class="row d-flex">
 
    <div class="col" >
       
      
        <iframe
        width="100%"
        height="938px"
       src= "https://ap-south-1.quicksight.aws.amazon.com/sn/embed/share/accounts/768558422143/dashboards/7028cf7a-fcbf-4e49-a960-0370326fc3ca?directory_alias=investacc">
    </iframe>
        

    </div>
    <div align="right" class="col-3 d-flex  ">
        <div  class="notificationContainer" style="height: 52px; width: 52px; background: #37AFD4; border-radius: 15px;">
            <div id="notification">
                <img src="assets/notification.svg" alt="" height="35px" width="35px">
            </div>
        </div>
    </div>


</div>